//colores
//1
$white: #fff;
$isabeline: #eeeded;
$spanish-gray:#989797;

//2
$coral:#fa824c;
$buff:#f1dd7b;
$vanilla:#f5e7a1;

//3
$flame:#e4572e;
$light-red-ochre:#e87554;
$pastel-pink:#f2b2a0;

//4
$shiny-shamrock: #4ca866;
$turquoise-green:#9dcfab;
$pastel-gray:#bddfc7;

//5
$blue-de-france: #3c91e6;
$blue-jeans:#5fa5ea;
$jordy-blue:#82b9ef;

//6
$black:#000;
$outer-space:#454545;
$quick-silver:#a2a2a2;

//Tipografías
$roboto: 'Roboto', sans-serif;
$pt-mono: 'PT Mono', monospace;

//Tamaños de fuente
$xxx-large:70px;
$xx-large:40px;
$x-large:30px;
$large:18px;
$medium:16px;
